/*CSS RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*ROOTS*/
:root{
    --lblue: #0061FF; /*colore dei pulsanti*/
    --padding-top-body: 80px;
    --h2-size: 2.7rem;
    --h3-size: 1.5rem;
}

/*GENERICS*/
body{
    font-family: 'Open Sans', sans-serif;
    padding-top: var(--padding-top-body);
}

img{
    max-width:100%;
    display: block;
}

ul{
    list-style-type: none;
    
}

a{
    text-decoration: none;
    color: black;
}

/*UTILITIES*/
.width100{
    width: 100%;
}

.flex{
    display: flex;
}

/*creo la classe per decorare i link*/
.link-blue{
    text-decoration: underline;
    color: blue;
}

/*classi per far velocemente i bordi*/
.border-gray{
    border: 1px solid #DCDCDC
}
.border-b-gray{
    border-bottom: 1px solid #DCDCDC
}

/*classe per creare una linea grigia*/
.linea{
    border: 0.5px solid gray;
    width: 150px;
    margin-top: 50px;
    margin-bottom: 50px;

}

/*classi per dare margini*/
.marginb-40{
    margin-bottom: 40px;
}
.margin-right-40{
    margin-right: 40px;
}
.section-margin{
    margin: 150px 0;
}


/*CONTEINERS*/
.conteiner-big{
    max-width: 1400px;
    margin: 0 auto;
}
.conteiner-small{
    max-width: 1200px;
    margin: 0 auto;
}

/*COLORE TESTO E COLORI PER I BACKGROUND*/
.color-gray{
    color: gray;
}
.bgc-lblue{
    background-color: #B4D0E7;
}
.bg-green{
    background-color: #A2D39B;
}
.bg-darkred{
    background-color: #61082B;
}
.bg-blue{
    background-color: #0093CE;
}
.bg-redpop{
    background-color: #FF1C1C;
}
.bg-red{
    background-color: #D5001F;
}
.bg-pink{
    background-color: #B4D0E7;
}
.bg-viola{
    background-color: #0D2481;
}
.bg-yellow{
    background-color: #FFD830;
}
.bg-lightgray{
    background-color: #F5F5F5;
}

/*BUTTONS*/
.btn{
    display: inline-block;
    padding: 10px 30px;
    background-color: var(--lblue) ;
    color: #fff;
    text-align: center;
}
.btn.btn-small{
    padding: 5px 15px;
}
.btn.btn-border{
    border: 1px solid black;
    background-color: #fff;
    color: black;
}

/*HEADER*/
/*navbar*/
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--padding-top-body);
    padding-left: 20px;
    padding-right: 5px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 1;
}
.navbar ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

/*creo l'interazione con la navbar*/
.navbar a{
    padding: 30px 0;
}
.navbar a.border-tb:hover{
    display: inline-block;
    /*border-top: 3px solid var(--lblue);*/
    border-bottom: 3px solid var(--lblue);
    text-shadow: 0px 5px 3px var(--lblue);
}

/*bottom-header - jumbotron*/
.bottom-header{
    height: 840px;
    padding-top: 100px;
    margin-bottom: 160px;
}
h1{
    font-size: 5rem;
    font-weight: 900;
    margin-bottom: 40px;
}

.jumbotron{
    display: flex;
    flex-wrap: wrap;
}
.jumbo-text{
    flex-basis: 30%;
    padding-right: 40px;
    line-height: 1.5; 
    position: relative;
}
.jumbo-img{
    flex-basis: 70%;
}
.fa-arrow-down{
    position: absolute;
    bottom: 100px;
    left: 0;
}


/*MAIN*/
/*creo i titoli per le sezioni*/
h2.section-title{
    font-size: var(--h2-size);    
    padding: 90px 0;
}
/*creo i titoli per le card*/
h3.card-title{
    font-size: var(--h3-size);
}

/*SEZIONE DELLA BUSINESS PLAN*/
/*creo la fatturazione*/
.fatturazione{
    display: inline-block;
    line-height: 1rem;
    height: 1rem;
    font-size: 14px;
}
.cerchio{
    display: inline-block;
    border: 4px solid blue;
    border-radius: 50%;
    height: 1rem;
    width: 1rem;
    vertical-align: middle;
}
.cerchio.cer-gray{
    border: 2px solid gray;
}

/*creo la row business-plan con le sue col e card*/
.business-plan{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -30px;
}
/*queste col e card le utilizzerò anche per la row successiva*/
.col{
    flex-basis: calc(100% / 3);    
    padding: 30px;    
}
.card{
    height: 100%;
}

.business-plan .col:last-child{
    flex-basis: 100%;
}
.business-plan .card{
    font-size: 14px;
}

.business-plan .card-head{
    text-align: center;
    padding: 10px 0;
}
.business-plan .card-info{
    padding: 0 60px;
}
.card-info h3{
    margin-top: 25px;
    margin-bottom: 15px ;
}
.card-info > p{
    margin-bottom: 15px;
}
.card li{
    padding: 20px 0;
}
.card-info .fa-ul{
    margin: 20px; 
}
p.border-b-gray{
    display: inline-block;
    padding-bottom: 60px;
}
.card-summary{
    margin-top: 60px;
    padding: 0 60px;
}
.card-summary .fa-ul{
    margin: 20px;
}
.fa-check{
    color: #0061FF;
    font-size: larger;
}

/*completo l'ultima card*/
.card-last{
    display: flex;
    justify-content: space-between;
}
.card-last .info-text{
    flex-basis: 60%;
}
.info-link{
    padding-top: 40px;
}


/*SEZIONE FOUND PARTNER*/
.found-partner{
    display: flex;
}
.f-partner-image{
    flex-basis: 60%;
}
.f-partner-text{
    flex-basis: 40%;
    padding: 50px;
    line-height: 1.5;
}

/*SEZIONE BUSINESS OPERATION*/
/*Creo la row business-operation*/
.business-operation{
    display: flex;
    flex-wrap: wrap;
    margin: -40px
}
.business-operation .col{
    padding: 40px ;
}
.business-operation h3{
    padding: 20px 0;
}
.business-operation .card-info{
    font-size: 1rem;
    line-height: 1.5;
}


/*SEZIONE LOGHI AZIENDE*/
.companies-logos{
    display: flex;
}
.big-box{
    width: calc(100vw / 3);
    height: calc(100vw / 3);
    display: flex;
    flex-wrap: wrap;
}
.company-logo-box{
    border: 20px solid transparent;
    width: 50%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.company-logo-box a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.company-logo-box img{
    filter: invert(100%);
    width: 50%;
}

/*l'immagine da problemi che le altre img non danno*/
/*#florida{ 
    padding-top: 140px;
    padding-bottom: 140px;
}*/
#central-box{
    padding: 30px;
}
.company-logo-box:hover{
    /*box-shadow: 0 0 40px black;*/
    border: 20px solid rgba(255, 255, 255, 0.5);
}
/*SEZIONE PROVA GRATUITA*/
.free-trial{
    padding: 80px;
}
.free-trial>div{
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.free-trial-title{    
    flex-basis: 60%;
}
.btn.btn-no-border{
    background-color: #fff;
    color: black;
    border: 1px solid transparent;
}



/*SEZIONE F.A.Q.*/
.faq{
    padding: 150px 0;
}
.faq h2{
    border-bottom: 1px solid gray;
}
.question{
    border-bottom: 1px solid gray;
}
.faq h6{
    font-size: 1rem;
    font-weight: bold;
    padding: 40px 0;
    position: relative;
}
.faq span{
    position: absolute;
    right: 50px;
    top: 50%;
    translate: 0 -50%;
}
/*Inserisco l'icon come pseudo elemento così da cambiarlo*/
.faq-icon::before{
    font: var(--fa-font-solid);
    content: "\f078"
}
.faq p{
    display: none;
    padding-bottom: 40px;
}
/*Creo l'interazione delle domande*/
.faq h6:hover + p{
    display: block;
}
h6:hover > .faq-icon::before{
    font: var(--fa-font-solid);
    content: "\f077"
}

/*FOOTER*/
footer{
    background-color: black;
    color: #fff;
    border-bottom: 1px solid white;
}
footer a{
    color: #fff;
}
.footer-top{
    padding: 100px 0;
}
.footer-col{
    flex-basis: 20%;
}
.footer-bottom{
    padding: 30px 20px 30px 0;
    border-top: 1px solid white;
    display: inline-block;
}
.footer-list h4{
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 30px;
}
.footer-list li{
    padding: 10px 0;
}