/*CSS RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*ROOTS*/
:root{
    --lblue: #0061FF;
}

/*GENERICS*/
body{
    font-family: 'Open Sans', sans-serif;
    padding-top: 80px;
}
img{
    max-width:100%;
    display: block;
}
ul{
    list-style-type: none;
    
}

a{
    text-decoration: none;
    color: black;
}
/*UTILITIES*/
/*BORDERS*/
.border-green{
    border: 2px dotted green;
}
.border-red{
    border: 1px dashed red;
}
.border{
    border: 1px solid black;
}
.border-blue{
    border: 1px solid blue;    
}
.border-gray{
    border: 1px solid #DCDCDC
}
.border-b-gray{
    border-bottom: 1px solid #DCDCDC
}
.marginb-40{
    margin-bottom: 40px;
}
.margin-right-40{
    margin-right: 40px;
}
/*CONTEINERS*/
.conteiner-big{
    max-width: 1400px;
    margin: 0 auto;
}
.conteiner-small{
    max-width: 1200px;
    margin: 0 auto;
}

.bgc-lblue{
    background-color: #B4D0E7;
}
.flex{
    display: flex;
}
.link-blue{
    text-decoration: underline;
    color: blue;
}
.dis-innline-block{
    display: inline-block;
}
/*BUTTONS*/
.btn{
    display: inline-block;
    padding: 10px 25px;
    background-color: var(--lblue) ;
    color: #fff;
    text-align: center;
}
.btn.btn-small{
    padding: 5px 15px;
}
.btn.btn-border{
    border: 1px solid black;
    background-color: #fff;
    color: black;
}
.color-gray{
    color: gray;
}
.width100{
    width: 100%;
}
/*HEADER*/
/*navbar*/
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding-left: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 1;
}
.navbar ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
}

/*bottom-header - jumbotron*/
.bottom-header{
    height: 840px;
    padding-top: 100px;
    margin-bottom: 160px;
}
h1{
    font-size: 5rem;
    font-weight: 900;
    margin-bottom: 40px;
}

.jumbotron{
    display: flex;
    flex-wrap: wrap;
}
.jumbo-text{
    flex-basis: 30%;
    padding-right: 40px;
    line-height: 1.5; 
    position: relative;
}
.jumbo-img{
    flex-basis: 70%;
}
.fa-arrow-down{
    position: absolute;
    bottom: 100px;
    left: 0;
}


/*MAIN*/
/*SEZIONE DELLA BUSINESS PLAN*/
/*Titolo della sezione*/
h2{
    font-size: 2.7rem;    
}
.fatturazione{
    display: inline-block;
    font-size: 14px;
    height: 40px;
    line-height: 40px;    
}
.cerchio{
    display: inline-block;
    border: 4px solid blue;
    border-radius: 50%;
    height: 1rem;
    width: 1rem;
}
.cerchio.cer-gray{
    border: 2px solid gray;
}

/*creo la row business-plan con le sue col e card*/
.business-plan{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -30px;
}
.col{
    flex-basis: calc(100% / 3);    
    padding: 30px;    
}
.card{
    height: 100%;
    font-size: 14px;
}
.business-plan .col:last-child{
    flex-basis: 100%;
}
.business-plan .card-title{
    text-align: center;
    padding: 10px 0;
}
.business-plan .card-info{
    padding: 0 60px;
}
.card-info h3{
    margin-top: 25px;
    margin-bottom: 15px ;
    font-size: 1.5rem;
}
.card-info p{
    margin-bottom: 15px;
}
.card li{
    padding: 20px 0;
}
.card-info .fa-ul{
    margin: 20px; 
}
p.border-b-gray{
    display: inline-block;
    padding-bottom: 60px;
}
.card-summary{
    margin-top: 60px;
    padding: 0 60px;
}
.card-summary .fa-ul{
    margin: 20px;
}
.fa-check{
    color: #0061FF;
    font-size: larger;
}
.card-last{
    display: flex;
    justify-content: space-between;
}
.card-last .info-text{
    flex-basis: 60%;
}
.info-text p{
    margin-bottom: 40px;
}
.info-link{
    padding-top: 40px;

}


/*SEZIONE FOUND PARTNER*/
.found-partner{
    display: flex;
    margin: 50px -50px;
}
.f-partner-image{
    flex-basis: 60%;
    padding: 50px;
}
.f-partner-text h3{
    font-size: 1.6rem;
}
.f-partner-text{
    flex-basis: 40%;
    padding: 100px 100px 0 30px;
    line-height: 1.5;
}

/*SEZIONE BUSINESS OPERATION*/
.section-title{
    padding-top: 100px;
}
.business-operation{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -40px;
}
.business-operation .col{
    padding: 40px ;
}
.business-operation .card-title{
    font-size: larger;
    margin-bottom: 20px;
}
.business-operation .card-info{
    font-size: medium;
}
.section-end{
    margin-top: 100px;
    margin-bottom: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
}

/*SEZIONE LOGHI AZIENDE*/
.companies-logos{
    display: flex;
}
.big-box{
    flex-basis: calc(100% / 3);
    display: flex;
    flex-wrap: wrap;
}
.company-logo-box{
    flex-basis: 50%;
    height: 315px;
    background-color: #0061FF; 
}
.company-logo-box img{    
    padding: 70px;
    height: 100%;
    filter: invert(100%);
}

#florida{ /*l'immagine da problemi che le altre img non danno */
    padding-top: 140px;
    padding-bottom: 140px;
}

.bg-green{
    background-color: #A2D39B;
}
.bg-darkred{
    background-color: #61082B;
}
.bg-blue{
    background-color: #0093CE;
}
.bg-redpop{
    background-color: #FF1C1C;
}
.bg-red{
    background-color: #D5001F;
}
.bg-pink{
    background-color: #B4D0E7;
}
.bg-viola{
    background-color: #0D2481;
}
.bg-yellow{
    background-color: #FFD830;
}
.bg-lightgray{
    background-color: #F5F5F5;
}
.linea{
    border: 0.5px solid gray;
    width: 150px;
    margin-top: 50px;
    margin-bottom: 50px;

}
#central-box{
    padding: 30px;
}

/*SEZIONE PROVA GRATUITA*/
.free-trial{
    padding: 150px;
}
.free-trial>div{
    justify-content: space-between;
    align-items: center;
}
.free-trial-title{
    flex-basis: 60%;
}
.btn.btn-no-border{
    background-color: #fff;
    color: black;
    border: 1px solid transparent;
}
/*SEZIONE F.A.Q.*/
.faq{
    padding: 30px 0;
}
.faq h2{
    margin: 30px 0;
    border-bottom: 1px solid gray;
}
.faq p{
    padding: 20px 0;
    border-bottom: 1px solid gray;
}

/*FOOTER*/
footer{
    background-color: black;
    color: #fff;
    border-bottom: 1px solid white;
}
.footer-col{
    flex-basis: 20%;
}
.footer-bottom{
    padding: 30px 20px 30px 0;
    border-top: 1px solid white;
    display: inline-block;
}